<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2>

  <%= form_for(:subject, :url => {:action => 'create'}) do |f| %>

  <% #to render to partial form and sending local variables.
        # foo is local variable in parial form.
  %>
  <%= render(:partial => "form" , :locals => {:foo => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Subject") %>
    </div>

  <% end %>
</div>
