<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"%>
  </div>

  <div id="content">
    <h1> It's Mr. Samir Figure</h1>
    <p>
      Vice you probably haven't heard of them microdosing, chillwave poutine kogi pour-over shabby chic. Chicharrones four dollar toast whatever, PBR&B plaid migas shabby chic pork belly portland post-ironic mumblecore hoodie lomo vinyl. Hashtag bespoke tilde, wayfarers craft beer twee kogi tofu 3 wolf moon gochujang photo booth 8-bit. Chartreuse tattooed waistcoat put a bird on it tousled. Squid vice venmo hoodie. Franzen four dollar toast art party, farm-to-table church-key yr lo-fi pabst viral fingerstache forage meh. Hella celiac sriracha pickled dreamcatcher. 
    </p>
  </div>

</div>
